<section
  class="password welcome c-password-section"
  data-section-id="{{ section.id }}"
  data-section-type="password"
>
  {% if background_image != blank %}
    {% render 'image' with
      image: background_image,
      wrapper_class: "password__background-image",
      disable_style: true
    %}

    <div
      class="password__background-image-overlay o-{{ background_overlay_opacity }}"
      style="background-color: {{ background_overlay_color }};">
    </div>
  {% endif %}

  <div class="password__login-button slider-button" data-js-toggle>
    <a href="#" class="lock">
      {% render 'icon-chevron-right' %}
    </a>
    <a href="#" class="close">
      {% render 'icon-chevron-left' %}
    </a>
  </div>

  <div class="c-password-header__content" data-content="default">
    <header class="password__header c-password__header" role="banner">
      {% if header_image %}
        {{
          header_image
          | image_url: width: 1000
          | image_tag: loading: 'lazy', height: 'auto', class: 'c-password-header-image'
        }}
      {% endif %}
      <div class="c-password-header-content">
          <p class="overline">{{ shop.name }}</p>
          {% unless heading == blank %}
            <h1 class="password__heading type-heading-1">{{ heading }}</h1>
          {% endunless %}

        {% if shop.password_message != blank %}
          <p class="password__subheading type-body-regular">{{ shop.password_message }}</p>
        {% endif %}
      </div>
    </header>

  </div>

  <div class="password__content" data-content="login">
    <h3 class="password__login-heading c-password__login-heading type-heading-1">{{ 'general.password_page.login_form_heading' | t }}</h3>
    {% form 'storefront_password' %}
      {{ form.errors | default_errors }}

      <div class="password__login-form c-password__login-form">
        <div class="input relative w-100">
          <input type="password"
            name="password"
            id="Password"
            placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
          >
          {% comment %} <label for="Password" class="label--above">
            {{ 'general.password_page.login_form_password_placeholder' | t }}
          </label> {% endcomment %}
        </div>
        <button class="bttn bttn--primary" type="submit">{{ 'general.password_page.login_form_submit' | t }}</button>
      </div>
    {% endform %}
    
     {%- if show_share -%}
      <div class="password__share">
        {% render 'social-sharing' %}
      </div>
    {%- endif -%}

    {% if below_text != blank or below_button_text != blank %}
      <div class="c-below-container">
        <div class="c-below-text">
          {{ below_text }}
        </div>
        <a href="{{ below_button_url }}" class="c-below-button">{{ below_button_text }}</a>
      </div>
    {% endif %}

    
    <!-- <p class="type-body-regular rte">{{ 'general.password_page.admin_link_html' | t }}</p> -->
  </div>
</section>

<style>

  .c-password-section {
    background-color: {{ background_color }};
    justify-content: flex-start;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .c-password-header-content .overline {
    margin-top: 0;
    margin-bottom: 12px;
  }

  .c-password-header-content .password__heading {
    margin-top: 0;
    margin-bottom: 12px;
  }

  .c-password-header-content .password__subheading {
    margin-top: 0;
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 1.5;
  }

  .c-password__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
  }

  .c-password-header-image {
    width: 100%;
    height: auto;
    max-width: 200px;
  }

  .c-password__login-heading {
    margin-top: 12px;
    margin-bottom: 20px;
    font-size: 20px !important;
  }

  .c-password__login-form {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
  }

  .c-password__login-form button {
    font-size: 18px;
    height: 56px;
    margin-top: 0px !important;
  }


  .c-password__login-form input {
    outline: 2px solid #142A4A;
  }

  .c-password__login-form input::placeholder {
  color: #545454;
  opacity: 1; /* Firefox */
}

  .c-password__login-form input::-ms-input-placeholder { /* Edge 12-18 */
    color: #545454;
  }

  .c-below-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    text-align: center;
  }  

  .c-below-text {
    font-size: 16px;
    margin-top: 36px;
  }

  .c-below-text p {
    margin: 0;
  }

  .c-below-button {
    height: 56px;
    padding: 0 24px;
    display: flex;
    align-items: center;
    background-color: #F93877;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: .1em;
  }

  @media screen and (min-width: 768px) {

    .c-password-section {
      justify-content: center;
      margin-top: 0;
    }

    .c-password__header {
      flex-direction: row;
    }

    .c-password-header-image {
      max-width: 350px;
    }

    .c-password__login-form button {
      font-size: 20px;
    }

    .c-password__login-form {
      flex-direction: row;
    }

    .c-password-header-content .password__subheading {
      font-size: 20px;
    }
    .c-below-text {
      font-size: 20px;
    }

    .c-below-button {
      font-size: 20px;
    }
    
  }


  {% if text_color != blank %}
    .password__header,
    .password__text {
      color: {{ text_color }};
    }
  {% endif %}
   .template-password .welcome .password__content[data-content="login"] {
     display: block;
   }
  .password.welcome .password__content[data-content=login], .password.welcome .close {
    display: block;
}

.password.welcome .password__content[data-content=login] input#Password {
    border: 2px solid var(--brand-6, #F1F1F1);
    background: var(--brand-5, #FFF);
}

.password.welcome .password__content[data-content=login] .input {
    margin-right: 12px;
}
  .template-password .password .password__login-button {
    display: none;
}
   .template-password .password.welcome .c-password-header__content {
    max-width: 900px;
     padding-left: 15px;
     padding-right: 15px;
} 

.template-password .password.welcome .password__content {
    max-width: 560px;
     padding-left: 15px;
     padding-right: 15px;
} 

  .template-password .welcome .password__content[data-content="login"] .password__login-heading {
      letter-spacing: 0em;
    color: var(--brand-3, #13294B);
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}
  .template-password .password.welcome .password__content .password__subheading {
    color: var(--brand-3, #13294B);
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
}

.template-password .password__header .overline {
    color: var(--brand-3, #13294B);
    text-align: center;
    font-family: Montserrat;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 15.6px */
    letter-spacing: 1.04px;
}
  .template-password .password.welcome .password__content .password__subheading >a {
    text-decoration: underline;
}

  @media (max-width: 767px) {
    .password.welcome .password__content[data-content=login] .input{
      margin: 0;
    } 
    .template-password .password.welcome .password__content .password__subheading {
     word-wrap: break-word;
    }
    .template-password .password.welcome .password__content .password__subheading br {
    display: none;
  }
    .template-password .password__notify-form .bttn, .password__login-form .bttn {
      width: 100%;
    }
    .template-password .password.welcome .password__content[data-content=login] input#Password {
      width: 100%; 
    }
  }
</style>