{%- liquid
  assign show_thumbnails = section.settings.show_thumbnails
  assign thumbnail_position = section.settings.thumbnail_position
  assign thumbnail_size = section.settings.thumbnail_size
  assign enable_full_width = section.settings.enable_full_width
  assign show_vendor = section.settings.show_vendor
  assign show_swatches = false
  assign show_quantity_input = section.settings.show_quantity_input
  assign show_share_buttons = section.settings.show_share_buttons
  assign enable_payment_button = section.settings.enable_payment_button
  assign enable_video_looping = section.settings.enable_video_looping
  assign show_featured_reviews = section.settings.show_featured_reviews

  assign current_variant = product.selected_or_first_available_variant
  assign compare_at_price = current_variant.compare_at_price
  assign price = current_variant.price
  assign featured_media = product.selected_or_first_available_variant.featured_media | default: product.featured_media
  assign first_3d_model = product.media | where: 'media_type', 'model' | first

  assign show_price_comparison = false
  if current_variant.compare_at_price > current_variant.price
    assign show_price_comparison = true
  endif
-%}

{% capture product_heading %}
  {% if show_vendor %}
    <p class="product__vendor overline mt0">{{ product.vendor | link_to_vendor }}</p>
  {% endif %}

  <h1 class="product__title type-heading-display mt0 mb1">{{ product.title }}</h1>
  {% render 'judgeme_widgets', widget_type: 'judgeme_preview_badge', concierge_install: true, product: product %}

  <div class="product__price">
    <s data-compare-price class="mr1 meta{% if show_price_comparison == false %} hide{% endif %}">
      {% if show_price_comparison %}
      {{ current_variant.compare_at_price | money }}
      {% endif %}
      <span class="visually-hidden" data-compare-text>{{ 'products.product.regular_price' | t }}</span>
    </s>
    <span data-product-price>{{ current_variant.price | money }}</span>
    {% render 'unit-price' item: current_variant %}
  </div>

  <div class="product__reviews hidden mb3">
    <span class="product__reviews-stars hidden"></span>
    <a href="#" class="product__reviews-trigger accent"></a>
  </div>

  <div class="bm-product-size mb3"><span>Size:<span class="size"></span></span> 
    {% if product.metafields.custom.desktop_size_chart != blank %}
      <a class="bm-size-chart"> 
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
          <path d="M2.396 13.9076L13.6866 2.61701C13.8741 2.42951 14.1655 2.42951 14.353 2.61701L17.5616 5.82561C17.7491 6.01311 17.7491 6.30451 17.5616 6.49201L6.2912 17.7826C6.1037 17.9701 5.8123 17.9701 5.6248 17.7826L2.3958 14.574C2.2083 14.3865 2.2085 14.0951 2.396 13.9076ZM13.125 4.51161L14.0211 5.40771C14.2086 5.59521 14.2086 5.88661 14.0211 6.07411C13.8336 6.26161 13.5422 6.26161 13.3547 6.07411L12.4586 5.17801L11.7711 5.86551L12.125 6.21941C12.3125 6.40691 12.3125 6.69831 12.125 6.88581C11.9375 7.07331 11.6461 7.07331 11.4586 6.88581L11.1047 6.53191L10.4172 7.21941L11.3133 8.11551C11.5008 8.30301 11.5008 8.59441 11.3133 8.78191C11.1258 8.96941 10.8344 8.96941 10.6469 8.78191L9.7508 7.88581L9.04142 8.59519L9.39532 8.94909C9.58282 9.13659 9.58282 9.42799 9.39532 9.61549C9.20782 9.80299 8.91642 9.80299 8.72892 9.61549L8.37502 9.26159L7.68752 9.94909L8.58362 10.8452C8.77112 11.0327 8.77112 11.3241 8.58362 11.5116C8.39612 11.6991 8.10472 11.6991 7.91722 11.5116L7.02112 10.6155L6.33362 11.303L6.68752 11.6569C6.87502 11.8444 6.87502 12.1358 6.68752 12.3233C6.50002 12.5108 6.20862 12.5108 6.02112 12.3233L5.66722 11.9694L4.97972 12.6569L5.87582 13.553C6.06332 13.7405 6.06332 14.0319 5.87582 14.2194C5.68832 14.4069 5.39692 14.4069 5.20942 14.2194L4.31332 13.3233L3.41722 14.2194L5.95862 16.7608L16.5836 6.13579L14.0212 3.61619L13.125 4.51161ZM12.9375 1.22021L13.5211 1.78271C13.7086 1.97021 13.7086 2.26161 13.5211 2.44911C13.3336 2.63661 13.0422 2.63661 12.8547 2.44911L12.6258 2.22021L2 12.8452L2.2289 13.0741C2.4164 13.2616 2.4164 13.553 2.2289 13.7405C2.0414 13.928 1.75 13.928 1.5625 13.7405L0.4375 12.6155C0.25 12.428 0.25 12.1366 0.4375 11.9491C0.625 11.7616 0.9164 11.7616 1.1039 11.9491L1.3328 12.178L11.9368 1.57401L11.7079 1.34511C11.5204 1.15761 11.5204 0.866211 11.7079 0.678711C11.8954 0.491211 12.1868 0.491211 12.3743 0.678711L12.9375 1.22021Z" fill="black" />
        </svg>
        Size Guide
      </a>
    {% endif %}
  </div>
{% endcapture %}

<section
  class="
    product
    {% if show_thumbnails -%} product--has-thumbs{%- endif %}
    {% if enable_full_width -%} product--full-width{%- endif %}
    product--thumbnails-{{ thumbnail_position }}
    product--thumbnails-{{ thumbnail_size }}
  "
  data-section-id="{{ section.id }}"
  data-section-type="product"
>
  <div class="c-product__media-container product__media-container">
    {%- if show_thumbnails and thumbnail_position == 'vertical' -%}
      {% render 'product-thumbnails' with featured_media: featured_media %}
    {%- endif -%}

    <div class="c-product__media product__media">
      {% if product.media.size > 0 %}
        {%- for media in product.media -%}
          <div
            class="media-wrapper{% if show_thumbnails and media.id != featured_media.id %} hidden{% endif %}"
            data-media-id="{{ media.id }}"
            data-product-media-wrapper
          >
            {% if product.media.size > 0 and product.media[0].media_type == 'image' %}
              <div class="product__media-action">
                <button type="button" class="product__media-action-button">
                  {% render 'icon-plus' %}
                </button>
              </div>
            {% endif %}

            {% render 'media',
              media: media,
              featured_media: featured_media,
              link: product.url,
              loop_video: enable_video_looping
            %}
          </div>
        {%- endfor -%}
      {% else %}
        <div class="product__image">
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        </div>
      {% endif %}
    </div>

    {%- if show_thumbnails and thumbnail_position == 'horizontal' -%}
      {% render 'product-thumbnails' with featured_media: featured_media %}
    {%- endif -%}
  </div>

  {%- if first_3d_model -%}
    <button
      aria-label="{{ 'products.product.view_in_space_label' | t }}"
      class="product__view-in-space bttn bttn--full"
      data-in-your-space
      data-shopify-xr
      data-shopify-model3d-id="{{ first_3d_model.id }}"
      data-shopify-title="{{ product.title | escape }}"
      data-shopify-xr-hidden
    >
      <span>
        {% render 'icon-3d' %}
        <span class="product-single__view-in-space-text">{{ 'products.product.view_in_space' | t }}</span>
      </span>
    </button>
  {%- endif -%}

  <div class="product__mobile-header">
    {{ product_heading }}
  </div>

  <div class="product__meta">
    <div class="product__meta-inner">
      <div class="product__header">
        {{ product_heading }}
      </div>

      <div class="product__reviews hidden mb3">
        <span class="product__reviews-stars hidden"></span>
        <a href="#" class="product__reviews-trigger accent"></a>
      </div>
      <div class="bm-product-size mb3">
        <span>Size:<span class="size"></span></span>
        {% if product.metafields.custom.mobile_size_chart != blank %}
          <a class="bm-size-chart">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
              <path d="M2.396 13.9076L13.6866 2.61701C13.8741 2.42951 14.1655 2.42951 14.353 2.61701L17.5616 5.82561C17.7491 6.01311 17.7491 6.30451 17.5616 6.49201L6.2912 17.7826C6.1037 17.9701 5.8123 17.9701 5.6248 17.7826L2.3958 14.574C2.2083 14.3865 2.2085 14.0951 2.396 13.9076ZM13.125 4.51161L14.0211 5.40771C14.2086 5.59521 14.2086 5.88661 14.0211 6.07411C13.8336 6.26161 13.5422 6.26161 13.3547 6.07411L12.4586 5.17801L11.7711 5.86551L12.125 6.21941C12.3125 6.40691 12.3125 6.69831 12.125 6.88581C11.9375 7.07331 11.6461 7.07331 11.4586 6.88581L11.1047 6.53191L10.4172 7.21941L11.3133 8.11551C11.5008 8.30301 11.5008 8.59441 11.3133 8.78191C11.1258 8.96941 10.8344 8.96941 10.6469 8.78191L9.7508 7.88581L9.04142 8.59519L9.39532 8.94909C9.58282 9.13659 9.58282 9.42799 9.39532 9.61549C9.20782 9.80299 8.91642 9.80299 8.72892 9.61549L8.37502 9.26159L7.68752 9.94909L8.58362 10.8452C8.77112 11.0327 8.77112 11.3241 8.58362 11.5116C8.39612 11.6991 8.10472 11.6991 7.91722 11.5116L7.02112 10.6155L6.33362 11.303L6.68752 11.6569C6.87502 11.8444 6.87502 12.1358 6.68752 12.3233C6.50002 12.5108 6.20862 12.5108 6.02112 12.3233L5.66722 11.9694L4.97972 12.6569L5.87582 13.553C6.06332 13.7405 6.06332 14.0319 5.87582 14.2194C5.68832 14.4069 5.39692 14.4069 5.20942 14.2194L4.31332 13.3233L3.41722 14.2194L5.95862 16.7608L16.5836 6.13579L14.0212 3.61619L13.125 4.51161ZM12.9375 1.22021L13.5211 1.78271C13.7086 1.97021 13.7086 2.26161 13.5211 2.44911C13.3336 2.63661 13.0422 2.63661 12.8547 2.44911L12.6258 2.22021L2 12.8452L2.2289 13.0741C2.4164 13.2616 2.4164 13.553 2.2289 13.7405C2.0414 13.928 1.75 13.928 1.5625 13.7405L0.4375 12.6155C0.25 12.428 0.25 12.1366 0.4375 11.9491C0.625 11.7616 0.9164 11.7616 1.1039 11.9491L1.3328 12.178L11.9368 1.57401L11.7079 1.34511C11.5204 1.15761 11.5204 0.866211 11.7079 0.678711C11.8954 0.491211 12.1868 0.491211 12.3743 0.678711L12.9375 1.22021Z" fill="black" />
            </svg>
            Size Guide
          </a>
        {% endif %}
      </div>

      {%
        render 'product-form' with
        product: product,
        show_vendor: show_vendor,
        current_variant: current_variant,
        show_dynamic_checkout: enable_payment_button,
        show_swatches: show_swatches,
        show_quantity_input: show_quantity_input,
      %}

      {%- comment -%}
        Live region for announcing updated price and availability to screen readers
      {%- endcomment -%}
      <p class="visually-hidden" data-product-status aria-live="polite" role="status"></p>

      {%- comment -%}
        Live region for announcing that the product form has been submitted and the
        product is in the process being added to the cart
      {%- endcomment -%}
      <p class="visually-hidden" data-loader-status aria-live="assertive" role="alert" aria-hidden="true">
        {{ 'products.product.loader_label' | t }}
      </p>

      <div class="product__description mt5 rte">
        {% liquid
          assign tab_description = product.description
          if product.metafields.custom.description != blank
            assign tab_description = product.metafields.custom.description | metafield_tag
          endif

          assign tab_details = product.metafields.custom.details
          assign tab_care_instructions = product.metafields.custom.care_instructions
          assign tab_return_exchange = product.metafields.custom.return_exchange
        %}
        <div class="description">
          <div class="description-block open">
            <div class="description-header">
              <span>Description</span>
              <span class="description-header-icon">
                <span class="plus-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                    <path d="M6 1V12" stroke="#13294B"/>
                    <path d="M0.5 6.5H11.5" stroke="#13294B"/>
                  </svg>
                </span>
                <span class="minus-icon display-hidden">
                  <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                    <path d="M0.5 6.5H11.5" stroke="#13294B"/>
                  </svg>
                </span>
              </span>
            </div>
            <div class="description-content">
              {{ tab_description }}
            </div>
          </div>

          {% if tab_details != blank %}
            <div class="description-block">
              <div class="description-header">
                <span>Details</span>
                <span class="description-header-icon">
                  <span class="plus-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                      <path d="M6 1V12" stroke="#13294B"/>
                      <path d="M0.5 6.5H11.5" stroke="#13294B"/>
                    </svg>
                  </span>
                  <span class="minus-icon display-hidden">
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                      <path d="M0.5 6.5H11.5" stroke="#13294B"/>
                    </svg>
                  </span>
                </span>
              </div>
              <div class="description-content">
                {{ tab_details | metafield_tag }}
              </div>
            </div>
          {% endif %}

          {% if tab_care_instructions != blank %}
            <div class="description-block">
              <div class="description-header">
                <span>Care Instructions</span>
                <span class="description-header-icon">
                  <span class="plus-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                      <path d="M6 1V12" stroke="#13294B"/>
                      <path d="M0.5 6.5H11.5" stroke="#13294B"/>
                    </svg>
                  </span>
                  <span class="minus-icon display-hidden">
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                      <path d="M0.5 6.5H11.5" stroke="#13294B"/>
                    </svg>
                  </span>
                </span>
              </div>
              <div class="description-content">
                {{ tab_care_instructions | metafield_tag }}
              </div>
            </div>
          {% endif %}

          {% if tab_return_exchange != blank %}
            <div class="description-block">
              <div class="description-header">
                <span>Return & Exchange</span>
                <span class="description-header-icon">
                  <span class="plus-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                      <path d="M6 1V12" stroke="#13294B"/>
                      <path d="M0.5 6.5H11.5" stroke="#13294B"/>
                    </svg>
                  </span>
                  <span class="minus-icon display-hidden">
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                      <path d="M0.5 6.5H11.5" stroke="#13294B"/>
                    </svg>
                  </span>
                </span>
              </div>
              <div class="description-content">
                {{ tab_return_exchange | metafield_tag }}
              </div>
            </div>
          {% endif %}
        </div>
      </div>

      {% if show_share_buttons %}
        <div class="product__social-sharing{% if product.description contains 'accordion__group' %} hidden{% endif %}">
          {% render 'social-sharing',
            share_title: product.title,
            share_permalink: product.url,
            share_image: product.featured_media
          %}
        </div>
      {% endif %}

      {% if show_featured_reviews %}
        <div class="product__helpful-reviews">
          <p class="helpful-reviews__heading" id="review-heading">Most Helpful Reviews</p>

          {% for block in section.blocks %}
            {% if block.type == 'review' %}
              <div class="helpful-reviews__content">
                <span class="jdgm-rev__rating" data-score="5" tabindex="0" aria-label="5 star review" role="img">
                  <span class="jdgm-star jdgm--on"></span>
                  <span class="jdgm-star jdgm--on"></span>
                  <span class="jdgm-star jdgm--on"></span>
                  <span class="jdgm-star jdgm--on"></span>
                  <span class="jdgm-star jdgm--on"></span>
                </span>
                <div class="jdgm-rev__content">
                  {% if block.settings.title != blank %}
                    <b class="jdgm-rev__title">{{block.settings.title}}</b> 
                  {% endif %}
                  {% if block.settings.content != blank %}
                    <div class="jdgm-rev__body">
                      <p>{{block.settings.content}}</p>
                    </div>
                  {% endif %}
                </div>
                {% if block.settings.author != blank %}
                  <span class="jdgm-rev__author-wrapper">
                    <span class="jdgm-rev__author">– {{block.settings.author}},</span>
                  </span>
                  <span class="jdgm-rev__buyer-badge-wrapper">
                    <span class="jdgm-rev__buyer-badge"></span>
                  </span>
                {% endif %}
              </div>
            {% endif %}
          {% endfor %}

          <a class="helpful-reviews__view-all" href="#judgeme_product_reviews">View all reviews</a>
        </div>
      {% endif %}
    </div>
  </div>

  {%- assign images = product.media | where: 'media_type', 'image' -%}
  {% render 'lightbox' with images: images %}
  {% render 'reviews-drawer' with product: product %}
</section>

{% unless product == empty %}
  <script type="application/json" id="ProductJson-{{ section.id }}">
    {{ product | json }}
  </script>
  <script type="application/json" id="ModelJson-{{ section.id }}">
    {{ product.media | where: 'media_type', 'model' | json }}
  </script>
{% endunless %}

{% schema %}
{
  "name": "Product pages",
  "settings": [
    {
      "id": "enable_full_width",
      "type": "checkbox",
      "label": "Enable full width",
      "info": "If enabled this page will span the entire width of the window",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_thumbnails",
      "label": "Show image thumbnails",
      "default": true
    },
    {
      "type": "select",
      "id": "thumbnail_position",
      "label": "Thumbnail position",
      "default": "vertical",
      "options": [
        {
          "value": "vertical",
          "label": "Beside product image"
        },
        {
          "value": "horizontal",
          "label": "Below product image"
        }
      ]
    },
    {
      "type": "select",
      "id": "thumbnail_size",
      "label": "Thumbnail size",
      "default": "large",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": "Show vendor",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_featured_reviews",
      "label": "Show Featured Reviews",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_share_buttons",
      "label": "Show social sharing buttons"
    },
    {
      "type": "checkbox",
      "id": "show_quantity_input",
      "label": "Show quantity selector",
      "info": "If quantity selector is hidden, quantities will default to 1.",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_payment_button",
      "label": "Show dynamic checkout button",
      "info": "Lets customers check out directly using a familiar payment method. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
      "default": true
    },
    {
      "type": "header",
      "content": "Media"
    },
    {
      "type": "paragraph",
      "content": "Learn more about [media types](https://help.shopify.com/en/manual/products/product-media)"
    },
    {
      "id": "enable_video_looping",
      "type": "checkbox",
      "label": "Enable video looping",
      "default": true
    }
  ],
  "max_blocks": 3,
  "blocks": [
    {
      "type": "review",
      "name": "Review",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Perfection"
        },
        {
          "type": "textarea",
          "id": "content",
          "label": "Content",
          "default": "Fast and accurate delivery...Very beautiful and good quality fabric. As perfect as shown in pictures. "
        },
        {
          "type": "text",
          "id": "author",
          "label": "Author",
          "default": "Tara W."
        }
      ]
    }
  ]
}
{% endschema %}
